mixin input(title, error, name)
  link(rel='stylesheet', href='../components/input/input.scss',type='text/css' )
  .input
    p(class="input__title")= title
    input(class="input__value", name=name)
    .input__divider 
    p(class="input__error")= error
