.button_type_inline {
  width: 280px;
  border-radius: 8px;
  background-color: #3369F3;
  color: #FFFFFF;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 13px;
  font-family: 'Inter';
  padding: 12px 0;
}

.button_type_outline {
  color: #3369F3;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  font-size: 11px;
  font-family: 'Inter';
}

.button_type_inline:hover {
  background-color: #2961ef;
}

.button_type_outline:hover {
  color: #2961ef;
}
