include ../button/button.pug

mixin form(title, submit, button)
  link(rel='stylesheet', href='../components/form/form.scss',type='text/css' )
  form.form  
    p(class="form__title")= title
    if block
      block
    .buttons
      +button(submit,'inline','submit')
      +button(button,'outline','button')
