mixin error(code, title)
  link(rel='stylesheet', href='../components/error/error.scss',type='text/css' )
  .error
    p(class="error__code")= code
    p(class="error__title")= title
    a(class="error__url",href='/') Назад к чатам
    