mixin setting(title, value)
  link(rel='stylesheet', href='../components/setting/setting.scss',type='text/css' )
  li(class="settings__item") 
    p(class="settings__item-title")= title 
    p(class="settings__item-value")= value 
    