mixin chat-preview(title, text, time, count)
  link(rel='stylesheet', href='./components/chat-preview/chat-preview.scss',type='text/css' )
  .divider
  .chat-preview 
    div.image
    div.info 
      p.info__title= title 
      p.info__description= text 
    div.extra-info 
      p.extra-info__time= time 
      p.extra-info__count= count 
