doctype html

include ../components/chat-preview/chat-preview.pug


html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, viewport-fit=cover")
    link(rel='stylesheet', href='./pages/chat.scss',type='text/css' )
    title= Заглушка
  body
    main
      div.sideMenu
        p.profile-link  Профиль
        input(type="text").search-input
        ul.chat-list
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
          +chat-preview('Андрей','Изображение','10:49','2')
      div.chat
        .chatHeader
          .image
          p.title Андрей
          svg(width="3px", height="15px")
            use(xlink:href="./assets/icons/dots.svg#dots")
        .divider
        .chatBody 
        .divider
        .chatFooter
          svg(width="32px", height="32px")
            use(xlink:href="./assets/icons/attach.svg#attach")
          input(name="message", type="text", placeholder="Сообщение").input 
          svg(width="28px", height="28px")
            use(xlink:href="./assets/icons/send.svg#send")
    h1 Заглушка для чата
    nav
      ul
        li
          a(href='pages/login.pug') Логин
        li
          a(href='pages/registration.pug') Регистрация
        li
          a(href='pages/profile.pug') Профиль
        li
          a(href='pages/profile-edit.pug') Редактирование профиля
        li
          a(href='pages/profile-change-password.pug') Изменение пароля
        li
          a(href='pages/error.pug') Ошибка
