doctype html

include ../components/setting/setting.pug
include ../components/button/button.pug

html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, viewport-fit=cover")
    link(rel='stylesheet', href='../styles/normalize.scss',type='text/css' )
    link(rel='stylesheet', href='./profile.scss',type='text/css' )
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600&display=swap" rel="stylesheet")
    title= Профиль
  body
    main.profile
      form
        img(class="profile__image", alt="avatar")
        input(type="file" name="avatar")
        label(for="email") Почта
        input(type="email" id="email" name="email" value="John@yandex.ru")
        label(for="login") Логин
        input(type="text" id="login" name="login" value="Doe")
        label(for="first_name") Имя
        input(type="text" id="first_name" name="first_name" value="John")
        label(for="second_name") Фамилия
        input(type="text" id="second_name" name="second_name" value="Doe")
        label(for="display_name") Имя в чате
        input(type="text" id="display_name" name="display_name" value="John")
        label(for="phone") Телефон
        input(type="tel" id="phone" name="phone" value="+77777777")
        +button('Сохранить','inline','submit')
