.settings {

  &__item {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  &__item:not(:last-child):after {
    content: '';
    width: 100%;
    background-color: #EAEAEA;
    height: 1px;
    position: absolute;
    bottom: 0;
  }

  &__item-title {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 500;
    color: #1E1E1E;
  }

  &__item-value {
    font-family: 'Inter';
    font-size: 13px;
    font-weight: 500;
    color: #999999;
  }
}
